<% if user_signed_in? %>
    <%= link_to 'New Album', new_album_path %>
    <%= render template: "pictures/index" %>   
<% else %>
    <h1>Hi! Please sign in to continue.</h1>    
    <%= button_to "Sign in", new_user_session_path %>
<% end %>