<% @pictures.each do |picture| %>
    <section class="album">
        <div class="metadata">
            <div class="date">
                <%= picture.created_at %>
            </div>
        </div>
        <%= image_tag picture.image.variant(resize: '500x500').processed, class: 'main-image' %>
        <div class="links">
            <p><small>Tags: <%= raw tag_links(picture.all_tags) %></small</p>
            <%= button_to 'Remove', picture, method: :delete, data: { confirm: "Are you sure?" }%>
        </div>
    </section>
<% end %>